<section class="contact-us-section">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="card p-3 m-3">

            <div class="card-body">
              <h5 class="card-title">Contact Info</h5>
              <p class="card-text">
                For orders and inquiries:
              </p>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fas fa-phone"></i> 714-724-8092</li>
              <li class="list-group-item"><i class="far fa-envelope"></i> beamadla@ymail.com</li>
            </ul>
            <div class="card-body">
              <button class="btn btn-warning" [routerLink]="['']">Home</button>
            </div>


        </div>
      </div>
    </div>
  </div>
</section>
