<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"><img src="../../../assets/images/icon-mommyf-2.png" style="max-width:2.8rem"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="catering-menu" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Catering Menu</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="single-tray-menu" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Single Tray Menu</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="gallery" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Gallery</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink="contact-us" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Contact Us</a>
      </li>
      <li class="nav-item active">
        <a *ngIf="logStatus" class="nav-link" href="#" routerLink="admin" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Admin Page</a>
      </li>
      <li class="nav-item active">
        <a  *ngIf="!logStatus" class="nav-link" href="#" routerLink="admin/login" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Admin-Login</a>
      </li>
      <li class="nav-item active">
        <a *ngIf="logStatus" class="nav-link" href="#" routerLink="" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}" (click)="logOut()">Admin-Logoff</a>
      </li>
     </ul>
  </div>
</nav>




