<section class="what-section text-center p-3 m-3">
  <div class="row">
    <div class="col">
      <div class=" container text-left">
        <h3 class="p-2 text-nunito">
          Welcome to Mama Florie's Kitchen
        </h3>
        <h4>
          <p class="what-text">
            <i class="fas fa-check"></i>
            We love to cook and make all kinds of Filipino and Non-Filipino dishes!
          </p>
          <p class="what-text">
            <i class="fas fa-check"></i>
            Comfort food that reminds you of home? Feeling adventurous and want to try something new?  We have you covered!
          </p>
          <p class="what-text">
            <i class="fas fa-check"></i>
            Everything is cooked from scratch..  Talk to us about dietary preferences and allergies.  We can make this work for you.
          </p>
          <p class="what-text">
            <i class="fas fa-check"></i>
            We accept catering orders and requests for your cravings, gatherings or simply for personal consumption.
          </p>
        </h4>
      </div>
    </div>
  </div>
</section>

