<section class="page-admin-section">
  <div class="container">
    <div class="text-title text-center text-nunito p-4">
      Admin Page - Add Ulam
    </div>
    <div class="edit-weekly p-2">
      <div class="row">
        <div class="col-md-6">
          <!-- <form [formGroup]="ulamTextForm" class="ulamTextForm">
            <div class="form-group">
              <h3>DATE DISH IS DUE</h3>
              <label for="ulamDate">Weekly Ala Carte for Week</label>
              <input type="text" formControlName="ulamDate" class="form-control" id="ulamDate"
                aria-describedby="ulamDate" placeholder="Date">
            </div>
          </form> -->
          <form [formGroup]="ulamForm" class="add-ulam-form">
            <div class="form-group">
              <label for="ulamImage">Image URL</label>
              <input type="text" formControlName="ulamImage" class="form-control" id="ulamImage"
                aria-describedby="ulamImage" placeholder="Image URL">
            </div>
            <div class="form-group">
              <label for="ulamName">Ulam Name</label>
              <input type="text" formControlName="ulamName" class="form-control" id="ulamName"
                aria-describedby="ulamName" placeholder="Name">
            </div>
            <div class="form-group">
              <label for="ulamPrice">Price</label>
              <input type="text" formControlName="ulamPrice" class="form-control" id="ulamPrice"
                aria-describedby="ulamPrice" placeholder="$$$$.$$">
            </div>
            <div class="form-group">
              <label for="ulamSize">Size</label>
              <input type="text" formControlName="ulamSize" class="form-control" id="ulamSize"
                aria-describedby="ulamSize" placeholder="32oz, etc">
            </div>
          </form>
          <button class="btn btn-primary btn-block m-1" (click)="addFromForm()">Submit</button>
          <button class="btn btn-danger btn-block m-1" (click)="clearForms()">Clear Form</button>
        </div>

        <div class="col-md-6 preview-section">
          <div class="row text-nunito weekly-menu">
            <div class="col-12 text-center p-1">
              <div class="card text-center">
                <img class="card-img-top" src={{ulamForm.value.ulamImage}} alt="image here" class="img-fluid">
                <div class="card-body">
                  <p class="card-text">{{ulamForm.value.ulamName}}</p>
                  <h5 class="card-title">{{ulamForm.value.ulamPrice}} / {{ulamForm.value.ulamSize}}</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
