<section class="catering-section p-4 text-center">
  <div class="container">
    <div class="catering-section-text">
    <div class="row catering-section-text">
      <div class="col-md-6">
        <button class="btn btn-info btn-lg" [routerLink]="['catering-menu']">View our Catering Menu</button>
        <h3 class="catering-section-text-title p-2">We specialize in catering requests</h3>
        <div class="text-center">
          <div>- Small parties</div>
          <div>- Big parties</div>
          <div>- Formal events</div>
          <div>- Holidays</div>
          <div>- Get togethers</div>
        </div>
      </div>
      <div class="col-md-6">
        <button class="btn btn-warning btn-lg" [routerLink]="['single-tray-menu']">View our Single Tray Menu</button>
        <h3 class="catering-section-text-title p-2">But we also take requests for single trays!</h3>
        <div>- No order is too small</div>
      </div>
    </div>
  </div>
      </div>
</section>
