<section class="catering-section p-4 text-center">
  <div class="container">
    <div class="catering-section-text text-nunito">
    <div class="row">
      <div class="col-md-6">
        <p>We specialize in catering requests</p>
        <div class="text-left">
          <div>- Small parties</div>
          <div>- Big parties</div>
          <div>- Formal events</div>
          <div>- Holidays</div>
          <div>- Get togethers</div>
        </div>
          <button class="btn btn-info btn-lg" [routerLink]="['catering-menu']">View our Catering Menu</button>
      </div>
      <div class="col-md-6">
        <p>But we also take requests for single trays!</p>
        <div>- No order is too small</div>
          <button class="btn btn-warning btn-lg" [routerLink]="['single-tray-menu']">View our Single Tray Menu</button>
      </div>
    </div>
  </div>
      </div>
</section>
