.catering-section{
background-color:black;
}

.catering-section-text-title{
  color: antiquewhite;
  font-family: 'Nunito',sans-serif;
  font-size: 2.5rem;

}

.catering-section-text{
  color: antiquewhite;
  font-family: 'Nunito',sans-serif;
  font-size: 1.5rem;
}
