<section class="gallery-section">
  <div class="container">
    <h2 class="gallery-text p-3 text-center">
      Gallery of past Mama Flory Creations
    </h2>
    <div class="row">
      <div class="col-sm-6 col-md-3 p-1">
        <img src="../../../assets/images/roast beef.jpg" alt="roastbeef" class="img-fluid img-thumbnail">
      </div>
      <div class="col-sm-6 col-md-3 p-1">
        <img src="../../../assets/images/pakbet.jpg" alt="pakbet" class="img-fluid img-thumbnail">
      </div>
      <div class="col-sm-6 col-md-3 p-1">
        <img src="../../../assets/images/pancitmalabon.jpg" alt="pancitmalabon" class="img-fluid img-thumbnail">
      </div>

      <div class="col-sm-6 col-md-3 p-1">
        <img src="../../../assets/images/pansit.jpg" alt="pansit" class="img-fluid img-thumbnail">
      </div>
      <div class="col-sm-6 col-md-3 p-1">
        <img src="../../../assets/images/pastel2.jpg" alt="pastel" class="img-fluid img-thumbnail">
      </div>
      <div class="col-sm-6 col-md-3 p-1">
        <img src="../../../assets/images/spaghettipinoy.jpg" alt="spaghetti" class="img-fluid img-thumbnail">
      </div>

      <div class="col-sm-6 col-md-3 p-1">
        <img src="../../../assets/images/mechado.jpg" alt="mechado" class="img-fluid img-thumbnail">
      </div>
      <div class="col-sm-6 col-md-3 p-1">
        <img src="../../../assets/images/airfriedpata.jpg" alt="pata" class="img-fluid img-thumbnail">
      </div>
      <div class="col-sm-6 col-md-3 p-1">
        <img src="../../../assets/images/bulalobistek.jpg" alt="bulalobistek" class="img-fluid img-thumbnail">
      </div>

      <div class="col-sm-6 col-md-3 p-1">
        <img src="../../../assets/images/chopsuey.jpg" alt="chopsuey" class="img-fluid img-thumbnail">
      </div>
      <div class="col-sm-6 col-md-3 p-1">
        <img src="../../../assets/images/empanada.jpg" alt="empanada" class="img-fluid img-thumbnail">
      </div>
      <div class="col-sm-6 col-md-3 p-1">
        <img src="../../../assets/images/garlicadobo.jpg" alt="adobo" class="img-fluid img-thumbnail">
      </div>
    </div>

  </div>
  <h2 class="gallery-text p-3 text-center">
    .....and much much more!!!!!
  </h2>
</section>
