.this-week{
  background-color: rgb(235, 227, 219);
}

.weekly-menu{
  /* background-color: cornsilk; */
  text-align: center;
}


.sold-out{
  background-color:rgba(255, 0, 0, 0.699);
  color:rgb(248, 247, 247);
    top: 50%;
}
