.this-week{
  background-color: rgb(235, 227, 219);
}

.weekly-menu{
  /* background-color: cornsilk; */
  text-align: center;
}

.weekly-card{
box-shadow: 2px 2px 10px 0px rgba(85, 84, 84, 0.9);
}
.sold-out{
  background-color:rgba(255, 0, 0, 0.699);
  color:rgb(248, 247, 247);
    top: 50%;
}
