<section class="this-week p-4">
  <div class="container">

        <h4 class="this-week-text text-nunito text-center">Weekly A La Carte Menu for 5/8/2020:</h4>
    <div class="row text-nunito weekly-menu">
      <div class="col-md-6 text-center p-1">
        <div class="card" >
          <img class="card-img-top" src="../../../../assets/images/bulalobistek.jpg" alt="Card image cap" class="img-fluid">
          <div class="card-body">
            <p class="card-text">Bulalo Bistek</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center p-1">
        <div class="card" >
          <img class="card-img-top" src="../../../../assets/images/bulalobistek.jpg" alt="Card image cap" class="img-fluid">
          <div class="card-body">
            <p class="card-text">Bulalo Bistek</p>
          </div>
        </div>
      </div>
    </div>
<div class="row text-center align-center">

  <div class="col">
    <button type="button" class="btn btn-success btn-block my-3">Order now!</button>

  </div>
</div>
  </div>
</section>
