<section class="contact-info-section">
  <div class="container">
    <div class="contact-wrapper m-auto">
      <div class="row">
        <div class="col-12 text-center">
          <h3>For orders and inquiries:</h3>
          <div class="m-3">
            <div>Text 714-724-8092</div>
            <div>beamadla@ymail.com</div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-6 text-center">
          <button class="btn btn-success contact-button m-1">
            <a href="sms:7147248092">
              <i class="fas fa-sms  p-2" alt="phone icon"></i>
            </a>
          </button>
        </div>
        <div class="col-6 text-center">
          <button class="btn btn-success contact-button m-1">
            <a href="mailto:beamadla@ymail.com">
              <i class="far fa-envelope p-2" alt="email icon"></i>
            </a>
          </button>
        </div>
      </div> -->
      <div class="row">
        <div class="col-4 text-center">
          <button class="btn btn-success contact-button m-1">
            <a href="sms:7147248092">
              <i class="fas fa-sms  p-2" alt="phone icon"></i>
            </a>
          </button>
        </div>
        <div class="col-4 text-center">
          <button class="btn btn-success contact-button m-1">
            <a href="https://m.me/bea.madla">
              <i class="fab fa-facebook-messenger  p-2" alt="fb messenger"></i>
            </a>
          </button>
        </div>
        <div class="col-4 text-center">
          <button class="btn btn-success contact-button m-1">
            <a href="mailto:mamaflorieskitchen@gmail.com">
              <i class="far fa-envelope p-2" alt="email icon"></i>
            </a>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
  </div>
</section>


